// Yoda Button Styles

button {
  border-radius: .1rem;
  border: 0;
  height: $unit-8;
  outline: none;
  text-transform: uppercase;
  padding: 0 1em;
  color: $primary-600;
  background: $lightgrey-300;
  line-height: 2em;
  font-weight: 600;
  &.tooltip::after {
    font-size: $font-size-sm;
    text-transform: none;
  }
  i {
    font-size: 1rem;
    font-size: $font-size-sm;
    margin-right: .4rem;
  }
  &:hover {
    cursor: pointer;
    background: rgba(44, 102, 196, .1);
  }
}

button.primary {
  background: $primary-500;
  color: #ffffff;
  &:hover {
    background: darken($primary-500, 10);
  }
}

button.secondary {
  border: 1px solid $primary-500;
  background: #FFF;
  color: $primary-500;
  font-weight: 600;
  &:hover {
    color: $primary-600;
    border: 1px solid $primary-600;
    background: rgba(44, 102, 196, .1);
  }
}

button.text {
  color: $primary-500;
  font-weight: 600;
  background: transparent;
  &:hover {
    background: darken(#FFF, 10);
  }
}

button.danger {
  background: #F8F8F8;
  color: $red-500;
  font-weight: 600;
  &:hover {
    color: #ffffff;
    background: $red-500;
  }
}

button.disabled {
  opacity: .46;
  &:hover {
    cursor: default;
  }
}

button.bottom {
  min-width: 10rem;
  margin-top: $unit-8;
}

button.loading::after {
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
}