.kt-line {
	display: flex;
	height: 0.8rem;
	margin: 0.2rem 0;
	align-items: center;
}
.kt-line__left,
.kt-line__right {
	height: 1px;
	background: $lightgray-400;
	width: 100%;
	flex: 1 1 auto;
}
.kt-line__middle {
	flex: 1 0 auto;
	text-align: center;
	font-size: 0.6rem;
	padding: 0 0.4rem;
	color: $lightgray-500;
}
