@keyframes placeHolderShimmer {
  0% {
    background-position: -500px 0
  }
  100% {
    background-position: 500px 0
  }
}

.animated-background-large {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(120deg, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 2000px 2.285em;
  height: 160px;
  border-radius: .1rem;
  position: relative;
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(100deg, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 2.285em;
  height: calc(2.285em / 2.5);
  border-radius: .1rem;
  position: relative;
}
