.navbar {
	flex: 0 0 $navbar-width;
  width: $navbar-width;
  background-color: $primary-600;
	bottom: 0;
	left: 0;
	top: 0;
	z-index: $zindex-1;
	min-height: 100vh;
}
.navbar-wrapper {
	padding: $unit-6;
	position: fixed;
	width: $navbar-width;
	display: flex;
	height: 100%;
	flex-wrap: nowrap;
	flex-direction: column;
}
.navbar-header {
	flex: 0 0 auto;
}
.navbar-body {
	flex: 1 1 100%;
	overflow-y: auto;
}
.navbar-footer {
	flex: 0 0 auto;
}
