.navbar {
	flex: 0 0 $navbar-width;
  align-items: center;
  width: $navbar-width;
  padding: $unit-6;
  background-color: $primary-600;
	color: $lightgrey-300;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100vh;
	.navbar-body {
		width: 100%;
		flex: 1 1 100%;
	}
	.navbar-footer {
		flex: 0 0 auto;
	}
}
