// Sizing
@import "utilities/sizing";
@import "utilities/cursors";

.columns-vertical {
  .column{
    padding: 0 $unit-1;
    box-sizing: border-box;
  }
}

.element-margin {
  margin-top: $unit-4;
}
.block-margin {
  margin-top: $unit-6;
}



.email-preview {
  background: #fcfcfc;
  padding: 0 $unit-4;
  border: 1px solid #DBDBDB;
  border-radius: .1rem;
  margin-bottom: $unit-4;
  p {
    line-height: 1.2em;
  }
  h2 {
    margin: $unit-4 0;
  }
}