<!DOCTYPE html>
    <html lang="en">
      <head>
        <link rel="stylesheet" type="text/css" href="/assets/static/TheGlobalLayout.DTEcn5qx.css">
        <link rel="stylesheet" type="text/css" href="/assets/static/chrome_TheGlobalLayout-71897c33.B36tR1dV.css">
        <meta charset="UTF-8" />
        
    <title>Kotti Design System</title><meta property="og:title" content="Kotti Design System">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[--><!--]-->
    
    <meta name="description" content="3YOURMIND’s Vue UI Framework &amp; Design System "><meta property="og:description" content="3YOURMIND’s Vue UI Framework &amp; Design System ">
    
  
      </head>
      <body>
        
        <div id="app"><!--[--><div class="kt-toaster" data-v-48225656 data-v-a55a68eb><div class="kt-toaster__notifications" data-v-48225656><div data-v-48225656></div></div></div><!----><!--]--></div>
        <div id="teleported"></div>
        <script id="vike_pageContext" type="application/json">{"fromHtmlRenderer":{},"_urlRewrite":null,"pageId":"\\/pages\\/examples\\/layouts","routeParams":{}}</script>
        <script id="vike_globalContext" type="application/json">{}</script>
        <script src="/assets/entries/entry-client-routing.D9SJ2ifN.js" type="module" async></script>
        <link rel="modulepreload" href="/assets/entries/pages_examples_layouts.CmHWHDJf.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-Cap8pgze.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-CUKu3W66.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-BXl3LOEh.js" as="script" type="text/javascript">
      </body>
    </html>