@import '@vuepic/vue-datepicker/dist/main.css';
@import '../kotti-field/mixins.scss';
@import '../kotti-style/_variables.scss';
@import './mixins.scss';

// INPUT STYLES OF ALL DATE-PICKERS
.kt-field-date,
.kt-field-date-range,
.kt-field-datetime,
.kt-field-datetime-range {
	/* .kt-field__input-container {
		width: 100%;
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 0.4rem;
		}
	} */

	&__input-wrapper {
		display: flex;
		align-items: center;
		gap: var(--unit-4);
	}

	&__input {
		display: flex;
		width: 100%;
		padding: 0;
		margin: 0;
		line-height: 1.6;
		border: 0;
	}
}

/*
// POPPER STYLE OF ALL DATE-PICKERS
$icon-size: 1.3rem;
$month-font-size: 1.2rem;
$td-diameter: 1.5rem;
$year-font-size: 1rem; */

.dp__outer_menu_wrap {
	.date-picker {
		&__action-buttons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		&__calendar {
			.dp__calendar_header_item {
				display: flex;
				align-items: center;
				font-size: 0.6rem;
				color: var(--text-03);
				text-transform: uppercase;
			}
		}

		&__day-switch {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
			gap: 20px;
			> div {
				flex-basis: 33%;
			}
		}

		&__menu {
			// HACK: the default is set to 0.8rem, which assumes a base font-size of 16px.
			// Since we have 20px, we have to adjust the relative size somewhat
			--dp-preview-font-size: 0.64rem;
			--dp-primary-coler: var(--interactive-01);
			--dp-hover-color: var(--interactive-02-hover);
			--dp-hover-text-color: var(--interactive-01);

			display: grid;
			grid-template-areas:
				'left-side-bar calendar'
				'left-side-bar actions';

			font-family: $base-font-family;
			font-size: 0.7rem;

			.dp {
				&__action_buttons {
					flex-grow: 1;
				}

				&__action-row {
					grid-area: actions;
				}

				&__instance_calendar {
					grid-area: calendar;
					position: relative;
				}

				&__menu_content_wrapper {
					display: contents;
				}

				&--preset-dates {
					grid-area: left-side-bar;
				}
			}

			.yoco {
				font-size: 1.2rem;
			}
		}
	}
}
