.nuxt/
.turbo/
dist/
node_modules/
packages/kotti-ui/report.*.html
packages/yoco/fonts/
*.log

# vite config gets transpiled in-place for a short moment
vite.config.ts.timestamp*

# os:macOS
.DS_Store

# package.json debug:turbo script
/turbo-graph.png
