# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# Nuxt build
.nuxt

# Nuxt generate
dist

.vscode

gh-pages

packages/kotti-style/lib/index.css
packages/kotti-style/lib/index.min.css
