// Cursors

$cursors: (
	c-hand: pointer,
	clickable: pointer,
	c-move: move,
	movable: move,
	c-zoom-in: zoom-in,
	c-zoom-out: zoom-out,
	c-not-allowed: not-allowed,
	c-auto: auto,
);

@each $element, $cursor in $cursors {
	.#{$element} {
		cursor: $cursor;
	}
}
