.mr-8 {
  margin-right: $layout-spacing;
}

.mr-16 {
  margin-right: $layout-spacing-lg;
}

.ml-8 {
  margin-left: $layout-spacing;
}

.ml-16 {
  margin-left: $layout-spacing-lg;
}

.mt-8 {
  margin-top: $layout-spacing; 
}

.mt-16 {
  margin-top: $layout-spacing-lg;
}

.mb-8 {
  margin-bottom: $layout-spacing;
}

.mb-16 {
  margin-bottom: $layout-spacing-lg;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.element-margin {
  margin-top: $unit-4;
}
.block-margin {
  margin-top: $unit-6;
}