// Forms
fieldset {
	margin-bottom: $layout-spacing-lg;
}

.form-group {
	position: relative;

	&:not(:last-child) {
		margin-bottom: $layout-spacing;
	}
}

.form-textarea,
textarea {
	box-sizing: border-box;
	padding: var(--unit-2);
}
