// Form element: Input

.dialog {
	position: absolute;
	z-index: $zindex-4;
	max-width: 20rem;
	padding: 0.4rem 0.8rem;
	margin-top: 0.2rem;
	font-size: 0.85em;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 0.2rem rgba($color: #000000, $alpha: 0.26);
	&--right {
		right: 0;
	}
	&--left {
		left: 0;
	}
}

.inline-edit {
	position: relative;
	display: flex;
	flex-direction: column;
	&__edit-buttons {
		position: absolute;
		right: 0;
		bottom: -32px;
		z-index: $zindex-4;
	}
}

.form-input {
	position: relative;
	width: 100%;
	height: $control-size;
	padding: 0 var(--unit-2);
	line-height: $line-height;
	color: var(--text-01);
	border: 1px solid var(--ui-02);
	border-radius: var(--border-radius);
	outline: none;
	-webkit-appearance: none;
	appearance: none;

	&--compact {
		height: $control-size-lg;
		padding-top: 0.6rem;
		line-height: 0.8rem;

		&::placeholder {
			color: transparent;
		}

		&--focus::placeholder {
			color: var(--text-03);
		}
	}
}

textarea.form-input {
	height: auto;
	padding: var(--unit-2);
}

// Form element: Input groups
.input-group {
	display: flex;

	.input-group-addon {
		padding: 0 $control-padding-x;
		font-size: $font-size-sm;
		line-height: 1.5rem;
		white-space: nowrap;
		background: $lightgray-300;
		border: $border-width solid #dbdbdb;
		border-radius: var(--border-radius);

		&.addon-sm {
			padding: $control-padding-y-sm $control-padding-x-sm;
			font-size: $font-size-sm;
		}

		&.addon-lg {
			padding: $control-padding-y-lg $control-padding-x-lg;
			font-size: $font-size-lg;
		}
	}

	.form-input {
		flex: 1 1 auto;
		width: 1%;
	}

	.input-group-btn {
		z-index: $zindex-0;
	}

	.form-input,
	.input-group-addon,
	.input-group-btn {
		&:first-child:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:not(:first-child):not(:last-child) {
			margin-left: -$border-width;
			border-radius: 0;
		}

		&:last-child:not(:first-child) {
			margin-left: -$border-width;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:focus {
			z-index: $zindex-0 + 1;
		}
	}

	&.input-inline {
		display: inline-flex;
	}
}
