// Form element: Input

.form-input {
	position: relative;
	width: 100%;
	height: var(--unit-8);
	padding: 0 var(--unit-2);
	line-height: 1rem;
	color: var(--text-01);
	appearance: none;
	outline: none;
	border: 1px solid var(--ui-02);
	border-radius: var(--border-radius);
}

textarea.form-input {
	height: auto;
	padding: var(--unit-2);
}
