// Form element: Input

.dialog {
	position: absolute;
	z-index: $zindex-4;
	max-width: 20rem;
	padding: 0.4rem 0.8rem;
	margin-top: 0.2rem;
	font-size: 0.85em;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 0.2rem rgb(0 0 0 / 26%);

	&--right {
		right: 0;
	}

	&--left {
		left: 0;
	}
}

.form-input {
	position: relative;
	width: 100%;
	height: $control-size;
	padding: 0 var(--unit-2);
	line-height: 1rem;
	color: var(--text-01);
	appearance: none;
	outline: none;
	border: 1px solid var(--ui-02);
	border-radius: var(--border-radius);
}

textarea.form-input {
	height: auto;
	padding: var(--unit-2);
}
