// Form element: label

.form-label {
	display: block;
	width: 100%;
	padding: 0;
	font-size: var(--font-size-small);
	font-weight: 700;
	line-height: var(--unit-6);
	color: var(--text-02);

	i {
		font-size: var(--unit-4);
		line-height: var(--unit-4);
	}
}
