// Form states: warning, error, success

// Disabled fields
.form-input {
	&:disabled,
	&.disabled {
		--form-input-interactive-color: var(--ui-03);

		cursor: not-allowed;
		background: var(--ui-background);
		opacity: 0.46;
	}
}
