// Form misc: icon position

.has-icon-left,
.has-icon-right {
	position: relative;

	.form-icon {
		position: absolute;
		font-size: 1rem;
		color: $lightgray-500;
	}
}

.has-icon-left {
	.form-input {
		padding-left: 1.6rem;
	}

	.form-icon {
		top: 0.3rem;
		left: 0.4rem;
	}
}

.has-icon-right {
	.form-input {
		padding-right: 1.6rem;
	}

	.form-icon {
		top: 0.3rem;
		right: 0.4rem;
	}
}

// Form states: warning, error, success

:root {
	--form-shadow-color: var(--support-info-light);
	--form-border-color: var(--ui-02);
}
.is-success {
	--form-shadow-color: var(--support-success-light);
	--form-border-color: var(--support-success);
}
.is-error {
	--form-shadow-color: var(--support-error-light);
	--form-border-color: var(--support-error);
}
.is-warning {
	--form-shadow-color: var(--support-warning-light);
	--form-border-color: var(--support-warning);
}

.form-group {
	.form-input {
		&:focus {
			outline: none;
			box-shadow: 0 0 0 0.1rem var(--form-shadow-color);
		}
		border: 1px solid var(--form-border-color);
	}

	.form-icon {
		color: var(--form-border-color);
	}
	.form-validation-text {
		padding: 0.2rem;
		font-size: $font-size-sm;
		font-weight: 600;
		color: var(--form-border-color);
	}
}

// Disabled fields
.form-input
.form-radio {
	&:disabled,
	&.disabled {
		--form-input-interactive-color: var(--ui-03);
		cursor: not-allowed;
		background: $lightgray-300;
		opacity: 0.46;
	}
}
