@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto';
  font-size: 15px;
}
h3 ~ p {
  margin-top: 1em;
}
h3 ~ table {
  margin-top: 0;
}
.success-message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  border-radius: .1rem;
  padding: .8rem 1.2rem;
  background: #64AD13;
}

.element-example {
  background: #f8f8f8;
  padding: 2rem 1.2rem;
  display: block;
  margin: 1rem 0;
  position: relative;
  &::before {
    content: "Example";
    display: block;
    background: #555;
    position: absolute;
    color: #fff;
    font-size: .875em;
    padding: .2rem .4rem;
    right: 0;
    z-index: 99;
    opacity: .46;
    top: 0;
  }
  &.white {
    background: #fff;
    border: 1px solid #dbdbdb;
  }
}