@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto';
  font-size: 15px;
}
h3 ~ p {
  margin-top: 1em;
}
h3 ~ table {
  margin-top: 0;
}
.success-message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  border-radius: .1rem;
  padding: .8rem 1.2rem;
  background: #64AD13;
}

.element-example {
  background: #f8f8f8;
  padding: 2rem 1.2rem;
  display: block;
  margin: 1rem 0;
  position: relative;
  &::before {
    content: "Example";
    display: block;
    background: #555;
    position: absolute;
    color: #fff;
    font-size: .875em;
    padding: .2rem .4rem;
    right: 0;
    z-index: 99;
    opacity: .46;
    top: 0;
  }
  &.white {
    background: #fff;
    border: 1px solid #dbdbdb;
  }
}

code {
	tab-size: 2;
}



.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
}

.hljs {
  color: #bababa;
}

.hljs-strong,
.hljs-emphasis {
  color: #2c64cc;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba;
}

.hljs-code,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #2c64cc;
}

.hljs-params {
  color: #b9b9b9;
}

.hljs-string {
  color: #2c64cc;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f;
}