.grid-content[data-v-3951d1aa]{height:40px;border-radius:4px;opacity:.46}.grid-content.light[data-v-3951d1aa]{background:#3173de}.grid-content.dark[data-v-3951d1aa]{background:#afc5e8}.grid-content.tall[data-v-3951d1aa]{height:80px}
