// Forms
fieldset {
	margin-bottom: $layout-spacing-lg;
}

legend {
	font-size: $font-size-lg;
	font-weight: 500;
	margin-bottom: $layout-spacing-lg;
}
.form-group {
	position: relative;
	&:not(:last-child) {
		margin-bottom: $layout-spacing;
	}
}
.form-textarea,
textarea {
	padding: $unit-2;
	box-sizing: border-box;
}
