:root {
	--link-color: var(--link-01);
	--link-color-active: var(--link-03);
}

// Base
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: $html-font-size;
	line-height: $html-line-height;
	-webkit-tap-highlight-color: transparent;
}

body {
	overflow-x: hidden;
	font-family: $body-font-family;
	font-size: $font-size;
	font-weight: 400;
	color: $body-font-color;
	background: $body-bg;
	text-rendering: optimizeLegibility;
}

a {
	color: var(--link-color);
	text-decoration: none;
	outline: none;

	&:focus,
	&:hover,
	&:active,
	&.active {
		color: var(--link-color-active);
		text-decoration: none;
	}
}
