.comment {
	display: flex;
	flex-flow: row;
	padding: 0.4rem 0;
	border-bottom: 1px solid #dbdbdb;
}

.comment__avatar {
	flex: 0 0 2.4rem;
	height: 2.4rem;
}

.comment__wrapper {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	margin-left: 0.4rem;
}

.comment__info {
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: 0.7rem;
	line-height: 1.2rem;
}

.info__name {
	flex: 1 1;
	font-weight: 600;
}

.info__time {
	flex: 1 1;
	color: $lightgray-500;
	text-align: right;
}

.comment__message {
	font-size: 0.75rem;
	line-height: 1.2rem;
	word-break: break-word;
}
.comment-reply__message {
	word-break: break-word;
}

.comment__action,
.comment-reply__action {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.2rem 0;
	font-size: 0.7rem;
	font-weight: 600;
	line-height: 1.2rem;
	color: $lightgray-500;
	.yoco {
		font-size: 0.9rem;
	}
}

.comment-inline-edit {
	position: relative;
	width: 100%;
}
.comment-inline-edit-buttons {
	position: absolute;
	right: 0;
	z-index: $zindex-4;
}

.action__options {
	position: absolute;
	top: 1.2rem;
	right: 0;
	z-index: $zindex-4;
	display: none;
	height: auto;
	padding: 0.4rem 0;
	line-height: 1.4rem;
	text-align: left;
	background: #ffffff;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	li {
		padding: 0.2rem 1rem;
		list-style: none;
	}
	li:hover {
		background: $lightgray-300;
	}
}

.action__reply {
	flex: 0 0 auto;
	padding: 0 0.2rem;
	border-radius: 0.2rem;
	&:hover {
		color: $darkgray-400;
		cursor: pointer;
		background: $lightgray-400;
	}
}
.action__more {
	position: relative;
	display: inline-block;
	flex: 0 0 2rem;
	padding: 0 0.2rem;
	text-align: center;
	border-radius: 0.2rem;
	&:hover {
		color: $darkgray-400;
		color: $darkgray-400;
		cursor: pointer;
		background: $lightgray-400;
		.action__options {
			display: block;
		}
	}
}

// Comment Reply => KtCommentReply

.comment-reply {
	display: flex;
	flex-direction: row;
	flex-flow: row;
	padding: 0.2rem 0;
	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: 0.4rem;
	}
	&__avatar {
		flex: 0 0 1.6rem;
	}
	&__info {
		display: flex;
		flex-direction: row;
		margin-bottom: 0.1rem;
		font-size: 0.7rem;
		line-height: 0.7rem;
	}
	&__name {
		flex: 1 1;
		font-weight: 600;
	}
	&__time {
		flex: 1 1 auto;
		color: $lightgray-500;
		text-align: right;
	}
	&__body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__message {
		width: 100%;
		font-size: 0.65rem;
		line-height: 1rem;
		.yoco {
			display: none;
			font-size: 0.8rem;
			color: #a8a8a8;
		}
		&:hover {
			cursor: pointer;
			.yoco {
				display: inline;
				color: $darkgray-400;
			}
		}
	}
}

// KtCommentInput

.comment-input {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	&--inline {
		margin: 0;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		padding: 0.4rem;
		background: #fff;
		border: 1px solid #dbdbdb;
		border-radius: $border-radius;
		&--focus {
			border: 1px solid #bbb;
		}
		&--inline {
			padding: 0.2rem;
		}
	}
	&__avatar {
		flex: 0 0 1.6rem;
		align-self: flex-start;
	}
	&__textarea {
		flex: 1 1;
		width: 100%;
		height: 1.2rem;
		padding: 0;
		margin: 0 0.2rem;
		resize: none;
		border: 0;
		&:focus {
			outline: none;
		}
	}
	&__button {
		height: 1.6rem;
	}
}
