$span-width: 1.6rem;
.kt-dateinput {
	position: relative;
}
.kt-datepicker {
	width: $span-width * 8;
	background: #fff;
	padding: $span-width/2;
	box-shadow: $box-shadow;
	box-sizing: border-box;
	border-radius: $border-radius;
	position: absolute;
	top: 3.2rem;
	z-index: $zindex-4;
}
.kt-datepicker-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	&__month {
		font-size: 1.2rem;
		font-weight: 600;
	}
	&__year {
		color: $darkgray-300;
	}
	&__control i {
		color: $darkgray-300;
		user-select: none;
		&:hover {
			color: $darkgray-500;
			cursor: pointer;
		}
	}
}
.kt-datepicker-calendar {
	&__week {
		font-weight: 600;
		color: $darkgray-300;
		width: 100%;
		line-height: 1.6rem;
		margin: 0.2rem;
		font-size: 0.6rem;
		text-align: center;
		span {
			width: $span-width;
			display: inline-block;
		}
	}
	&__day {
		width: 100%;
	}
	&__day-cell {
		display: block;
		float: left;
		width: $span-width;
		height: $span-width;
		padding: 0.2rem;
		text-align: center;
		user-select: none;
		&:hover {
			cursor: pointer;
		}
		span {
			line-height: 1.6rem;
			width: 1.6rem;
			border-radius: 100%;
			display: inline-block;
			&:hover {
				color: #fff;
				background: $primary-300;
			}
		}
	}
	&__day--blank {
		opacity: 0;
		&:hover {
			cursor: default;
		}
	}
	&__day--highlighted span {
		box-shadow: inset 0 0 0 0.1rem $primary-500;
		background: $primary-400;
		border-radius: 100%;
		color: #fff;
	}

	&__day--today {
		color: $primary-500;
		font-weight: 600;
	}
	&__day--start,
	&__day--end {
		color: #fff;
		background: $primary-300;
		border-radius: 100% 0 0 100%;
		span {
			box-shadow: inset 0 0 0 0.1rem $primary-500;
			background: $primary-400;
			border-radius: 100%;
		}
	}
	&__day--end {
		border-radius: 0 100% 100% 0;
	}
	&__day--between {
		color: #fff;
		margin: 0;
		background: $primary-300;
	}
}
