// Drawer with Vue Transition
$default-drawer-width: 18.8rem;
$wide-drawer-width: 26.8rem;

.drawer-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $zindex-4;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.5s ease;
}

.drawer-handle {
	position: absolute;
	top: 50%;
	left: $unit-1;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	margin-top: -0.725rem;
	line-height: 1.5rem;
	color: $lightgray-500;

	&:hover {
		color: $primary-500;
		cursor: pointer;
	}
}

.drawer-container {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	width: $default-drawer-width;
	height: 100%;
	padding: $unit-6;
	padding-left: $unit-8;
	overflow-y: auto;
	background-color: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;

	&.drawer-expand {
		width: 50%;
	}
}

.drawer-container.drawer-wide {
	width: $wide-drawer-width;

	&.drawer-expand {
		width: 75%;
	}
}

.drawer-header {
	flex: 0 0 auto;
}

.drawer-body {
	flex: 1 1 auto;
	padding: 0 0.8rem;
	margin: 0 -0.8rem 0.8rem -0.8rem;
	overflow-y: auto;
}

.drawer-footer {
	flex: 0 0 auto;
	align-self: flex-end;
	width: 100%;
}

.drawer-enter {
	opacity: 0;
	transition: opacity 0.5s;
}

.drawer-leave-active {
	opacity: 0;
}

.drawer-enter .drawer-container,
.drawer-leave-active .drawer-container {
	transform: translate(20em, 0);
}

@media (max-width: $size-sm) {
	.drawer-container,
	.drawer-container.drawer-wide {
		top: auto;
		bottom: 0;
		width: 100%;
		height: 80%;
		padding: $unit-4;
		padding-top: $unit-8;

		&.drawer-expand {
			width: 100%;
			height: 100%;
		}
	}

	.drawer-handle {
		top: 0;
		left: 50%;
		margin-top: 0.2rem;
		margin-left: -0.75rem;
		transform: rotate(90deg);
	}

	.drawer-enter .drawer-container,
	.drawer-leave-active .drawer-container {
		transform: translate(0, 20rem);
	}
}
