@keyframes skeleton-loading {
	0% {
		background-position: -50rem 0;
	}

	100% {
		background-position: 50rem 0;
	}
}

@mixin skeleton-style($bg-x, $bg-y) {
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 0.4rem 0;
	line-height: 1px;
	background: linear-gradient(
		to left,
		$lightgray-300 0%,
		$lightgray-400 50%,
		$lightgray-300 100%
	);
	background-size: $bg-x $bg-y;
	border-radius: 2px;
	animation: 2s ease-out infinite 'skeleton-loading';
}

.skeleton {
	&.circle {
		@include skeleton-style(1000px, 1000px);
		padding-top: 100%;
		border-radius: 100%;
	}

	&.square {
		@include skeleton-style(1000px, 1000px);
		padding-top: 100%;
	}

	&.rectangle {
		@include skeleton-style(1800px, 1200px);
		height: 0.4rem;

		&.md {
			height: 0.8rem;
		}

		&.lg {
			height: 1.2rem;
		}
	}
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
.kt-circle-loading {
	display: inline-block;
	width: $unit-4;
	height: $unit-4;
	margin-right: 0.2rem;
	pointer-events: none;
	border: $border-width-lg solid $primary-500;
	border-top-color: transparent;
	border-right-color: transparent;
	border-radius: 50%;
	animation: loading 500ms infinite linear;
}
.loading {
	position: relative;
	min-height: $unit-4;
	color: transparent !important;
	pointer-events: none;

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: $zindex-0;
		display: block;
		width: $unit-4;
		height: $unit-4;
		margin-top: -$unit-2;
		margin-left: -$unit-2;
		content: '';
		border: $border-width-lg solid $primary-500;
		border-top-color: transparent;
		border-right-color: transparent;
		border-radius: 50%;
		animation: loading 500ms infinite linear;
	}

	&.inline {
		display: inline-block;
		margin: 0 $unit-2;
		&::after {
			position: relative;
			top: 2px;
			left: 0;
			display: inline-block;
			margin: 0;
		}
	}

	&.white {
		&::after {
			border-bottom-color: #ffffff;
			border-left-color: #ffffff;
		}
	}

	&.lg {
		min-height: $unit-10;

		&::after {
			width: $unit-8;
			height: $unit-8;
			margin-top: -$unit-4;
			margin-left: -$unit-4;
		}
	}
}
