// Tooltips
.tooltip {
	position: relative;

	&::after {
		position: absolute;
		bottom: 100%;
		left: 50%;
		z-index: $zindex-3;
		display: block;
		max-width: $control-width-sm;
		padding: $unit-1 $unit-2;
		overflow: hidden;
		font-size: $font-size-sm;
		color: $lightgray-300;
		text-overflow: ellipsis;
		white-space: pre;
		pointer-events: none;
		content: attr(data-tooltip);
		background: rgba($darkgray-500, 0.9);
		border-radius: $border-radius;
		opacity: 0;
		transition: all 0.2s ease;
		transform: translate(-50%, $unit-2);
	}

	&:focus,
	&:hover {
		&::after {
			opacity: 1;
			transform: translate(-50%, -$unit-1);
		}
	}

	&[disabled],
	&.disabled {
		pointer-events: auto;
	}

	&.tooltip-right {
		&::after {
			bottom: 50%;
			left: 100%;
			transform: translate(-$unit-1, 50%);
		}

		&:focus,
		&:hover {
			&::after {
				transform: translate($unit-1, 50%);
			}
		}
	}

	&.tooltip-bottom {
		&::after {
			top: 100%;
			bottom: auto;
			transform: translate(-50%, -$unit-2);
		}

		&:focus,
		&:hover {
			&::after {
				transform: translate(-50%, $unit-1);
			}
		}
	}

	&.tooltip-left {
		&::after {
			right: 100%;
			bottom: 50%;
			left: auto;
			transform: translate($unit-2, 50%);
		}

		&:focus,
		&:hover {
			&::after {
				transform: translate(-$unit-1, 50%);
			}
		}
	}
}
