@import './code';
@import './tables';

body {
	margin: 0;
	font-family: $body-font-family;
}

h3 ~ p {
	margin-top: 1em;
}

h3 ~ table {
	margin-top: 0;
}

pre.long {
	max-height: 500px;
	overflow-y: auto;
	user-select: all;
}

.element-example {
	position: relative;
	display: block;
	padding: 2rem 1.2rem;
	margin: 1rem 0;
	background-color: var(--ui-01);

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 99;
		display: block;
		padding: 0.2rem 0.4rem;
		font-size: 0.875em;
		color: var(--text-05);
		content: 'Example';
		background: #555;
		opacity: 0.46;
	}

	&.white {
		background: var(--ui-background);
		border: 1px solid var(--ui-02);
	}
}
