*:not(.kt-table) > table:not(.kt-table-legacy) {
	width: 100%;
	hyphens: auto;
	table-layout: auto;
	border-collapse: collapse;

	th {
		padding: var(--unit-2) var(--unit-1);
		font-size: var(--font-size-small);
		line-height: 1em;
		color: var(--gray-50);
		text-align: inherit;
		text-transform: uppercase;
		border-bottom: 1px solid var(--ui-02);
	}

	tr {
		margin: 0;
	}

	td {
		padding: var(--unit-2) var(--unit-1);
		line-height: 1.2rem;
		border-bottom: 1px solid var(--ui-02);
	}

	i {
		margin: 0 0.2rem;
		font-size: 1rem !important;
		color: var(--gray-50);
	}
}
