@mixin footer-left-button($text, $border, $hover, $active) {
	color: $text;
	border: 1px solid $border;

	&:hover {
		color: $hover;
	}

	&:active {
		color: $active;
	}
}

@mixin el-picker-shared {
	.el-picker-panel__body-wrapper {
		display: flex;
		flex: 4;
		flex-direction: column-reverse;
		justify-content: space-between;
		width: 100%;
		@include no-outline;

		.el-picker-panel {
			// shortcuts
			&__sidebar {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-end;
				justify-content: flex-start;

				&:empty {
					flex: 0; //display: none won't allow for negative margin effect
					//undo margin-bottom between children of el-picker-panel__body
					margin-top: -0.4rem;
				}

				> button {
					padding: 0.4rem 0;
					font-size: 1em;
					color: var(--link-02);
					cursor: pointer;
					background-color: transparent;
					border: 0;
					text-decoration-line: underline;
					text-decoration-style: solid;

					& + button {
						margin-left: 0.8rem;
					}

					&:hover {
						color: var(--link-03);
					}

					&:active {
						color: var(--link-01);
					}
				}
			}

			&__body {
				display: flex;
				flex: 1;

				> * {
					margin-bottom: 0.4rem;
				}

				.el-date-picker__header,
				.el-date-range-picker__header {
					display: flex;
					text-align: center;
					cursor: default;

					&-label {
						text-transform: uppercase;
					}

					button.el-picker-panel__icon-btn {
						display: flex;
						align-items: flex-end;
						justify-content: center;
						padding: 0;
						color: var(--icon-02);
						cursor: pointer;
						background: transparent;
						border: 0;

						i {
							font-size: $icon-size;
						}

						&:hover {
							color: var(--interactive-01);
						}
					}
				}

				.el-picker-panel__content {
					flex: 1;

					table {
						margin: 0;
						text-align: center;
						border: 0;

						tbody {
							tr {
								display: flex;

								td,
								th {
									flex: 1;
								}
							}
						}

						td {
							padding: 0;

							cursor: pointer;
							border: 0;

							&.available.today {
								color: var(--link-03);
							}

							&.disabled {
								color: var(--text-05);
								cursor: not-allowed;
								background-color: var(--ui-01);
							}
						}

						&.el-year-table,
						&.el-month-table {
							tbody {
								height: 100%;
							}

							tr {
								margin: 0.4rem 0;
							}

							td {
								margin: 0 0.4em;
								border-radius: var(--field-border-radius);

								a {
									display: flex;
									align-items: center;
									justify-content: center;
									text-transform: uppercase;
								}

								&:hover:not(.disabled) {
									a {
										font-weight: bold;
										transition: font-weight ease var(--transition-short);
									}

									&:not(.current) a {
										color: var(--link-03);
										background-color: var(--interactive-02-hover);
									}

									&.current a {
										background-color: var(--interactive-01-hover);
									}
								}

								&.current {
									background-color: var(--interactive-03);

									a {
										color: var(--text-04);
									}
								}

								&.today:not(.disabled) {
									border: 1px solid var(--link-04);

									&:not(.current) a {
										color: var(--link-03);
									}
								}
							}
						}

						&.el-date-table {
							tr:first-of-type,
							tr:last-of-type {
								border-bottom: 1px solid var(--ui-02);
							}

							th {
								padding: 0;
								font-weight: bold;
								color: var(--text-03);
								text-transform: uppercase;
								border: 0;
							}

							td,
							th {
								padding: 0.4rem 0;
							}

							td {
								display: flex;
								align-items: center;
								justify-content: center;

								&.prev-month,
								&.next-month {
									color: var(--text-03);
								}

								> div {
									display: flex;
									align-items: center;
									justify-content: center;
									width: $td-diameter;
									height: $td-diameter;
									border-radius: 50%;
								}

								&:not(.disabled) {
									&:not(.in-range) {
										@supports (
											clip-path: circle(calc(#{$td-diameter/2} + 2px) at center)
										) {
											clip-path: circle(
												calc(#{$td-diameter/2} + 2px) at center
											);
										}
									}

									&:hover {
										background-color: var(--interactive-02-hover);
										transition: background-color var(--transition-short);
									}
								}

								&.available {
									&:hover {
										font-weight: bold;
										color: var(--link-03);
										transition: font-weight ease var(--transition-short);
									}

									&.today,
									&.current {
										> div {
											border: 1px solid var(--link-04);
										}

										&:hover {
											> div {
												border: 2px solid var(--link-03);
												transition: border ease var(--transition-short);
											}
										}
									}

									&.current,
									&.start-date,
									&.end-date {
										> div {
											background-color: var(--interactive-03);

											&:hover {
												background-color: var(--interactive-01);
											}

											> span {
												font-weight: bold;
												color: var(--interactive-02);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
