@font-face {
  font-family: "yoco";
  src: url("fonts/yoco.eot?10tqhl");
  src: url("fonts/yoco.eot?10tqhl#iefix") format("embedded-opentype"),
    url("fonts/yoco.ttf?10tqhl") format("truetype"),
    url("fonts/yoco.woff?10tqhl") format("woff"),
    url("fonts/yoco.svg?10tqhl#yoco") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i,
.icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "yoco" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
