@import '../kotti-field/mixins.scss';
@import './mixins.scss';

// INPUT STYLES OF ALL DATE-PICKERS
.kt-field-date,
.kt-field-date-range,
.kt-field-datetime,
.kt-field-datetime-range {
	.kt-field__input-container {
		width: 100%;
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 0.4rem;
		}

		.el-date-editor {
			width: 100%;

			&--date,
			&--datetime,
			&--daterange,
			&--datetimerange {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.el-input__inner {
					-webkit-order: 2;
					order: 2;
				}

				.el-input__inner,
				.el-range-input {
					flex: 1;
					padding: 0;
					margin: 0;
					line-height: 1.6;
				}

				.el-input__prefix i,
				.el-input__suffix i,
				&.el-input__inner .el-range-separator,
				&.el-input__inner .el-input__icon {
					display: flex;
					align-items: center;
					font-size: 1.1em;
					color: var(--icon-02);
					cursor: pointer;
				}

				.el-input__prefix {
					-webkit-order: 1;
					order: 1;
				}

				.el-input__suffix {
					-webkit-order: 3;
					order: 3;
				}
			}
		}
	}
}

// POPPER STYLE OF ALL DATE-PICKERS
$icon-size: 1.3rem;
$month-font-size: 1.2rem;
$td-diameter: 1.5rem;
$year-font-size: 1rem;

.el-picker-panel {
	@include el-popper {
		> * a {
			color: var(--link-02);
		}
		padding: 1.2rem 1.2rem;

		&.has-time {
			// thus, has &__footer as a child
			flex-direction: column;
		}
	}

	// SHARED PICKER STYLES
	@include el-picker-shared;

	// RANGE PICKERS SPECIFIC STYLES

	&.el-date-range-picker {
		.el-picker-panel__body {
			flex-wrap: wrap;

			.el-date-range-picker__time-header {
				width: 100%;
			}

			.el-date-range-picker__header {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: 0.4rem;
				font-size: $month-font-size;
				color: var(--text-01);
				text-transform: uppercase;

				div {
					display: flex;
					justify-content: center;
					-webkit-order: 1;
					order: 1;
					width: 100%;
					font-size: $year-font-size;
					color: var(--text-02);
				}
			}

			.el-date-range-picker__content {
				&.is-left,
				&.is-right {
					flex: 1;

					.el-date-range-picker__header button {
						position: absolute;
						bottom: 0;
					}
				}

				&.is-left {
					padding-right: 0.6rem;
					border-right: 1px solid var(--ui-02);

					button.el-icon-d-arrow-left {
						left: 0;
						-webkit-order: 2;
						order: 2;
					}

					button.el-icon-arrow-left {
						left: $icon-size;
						-webkit-order: 3;
						order: 3;
					}
				}

				&.is-right {
					padding-left: 0.6rem;

					.el-date-range-picker__header {
						margin-left: auto;
					}

					button.el-icon-arrow-right {
						right: $icon-size;
						-webkit-order: 3;
						order: 3;
					}

					button.el-icon-d-arrow-right {
						right: 0;
						-webkit-order: 4;
						order: 4;
					}
				}
			}
		}
	}

	// NON-RANGE PICKERS SPECIFIC STYLES [date(Time)Picker]
	&:not(.el-date-range-picker) {
		.el-picker-panel__body {
			flex-direction: column;
		}

		.el-date-picker__header {
			// bordered headers are only in year-/month-tables
			&--bordered {
				justify-content: space-between;
				margin: 0;
				margin-bottom: 0.4rem;
				border-bottom: 1px solid var(--ui-02);

				+ .el-picker-panel__content {
					display: flex;

					> table:not([style*='display:none']) {
						align-self: stretch;
					}
				}

				button.el-icon-d-arrow-left {
					-webkit-order: 1;
					order: 1;
				}

				span.el-date-picker__header-label {
					&:first-of-type {
						// year label
						-webkit-order: 2;
						order: 2;
						font-size: $year-font-size;
					}

					&:last-of-type {
						// month label
						display: flex;
						flex: 1;
						-webkit-order: 1;
						order: 1;
						font-size: $month-font-size;
					}
				}

				button.el-icon-d-arrow-right {
					-webkit-order: 3;
					order: 3;
				}
			}

			&:not(.el-date-picker__header--bordered) {
				position: relative;
				cursor: pointer;

				button.el-icon-d-arrow-left {
					-webkit-order: 3;
					order: 3;

					@supports (clip-path: inset(50% 10% 0% 10%)) {
						clip-path: inset(50% 10% 0% 10%);
					}
				}

				button.el-icon-arrow-left {
					-webkit-order: 4;
					order: 4;

					@supports (clip-path: inset(50% 10% 0% 10%)) {
						clip-path: inset(50% 10% 0% 10%);
					}
				}

				button.el-icon-d-arrow-right {
					-webkit-order: 6;
					order: 6;

					@supports (clip-path: inset(50% 10% 0% 10%)) {
						clip-path: inset(50% 10% 0% 10%);
					}
				}

				button.el-icon-arrow-right {
					-webkit-order: 5;
					order: 5;

					@supports (clip-path: inset(50% 10% 0% 10%)) {
						clip-path: inset(50% 10% 0% 10%);
					}
				}

				span.el-date-picker__header-label {
					&:hover {
						color: var(--interactive-01);
					}

					// year label
					&:first-of-type {
						margin-top: 0.5 * $year-font-size;
						margin-right: auto;
						font-size: $year-font-size;

						&:not(:hover) {
							color: var(--text-02);
						}

						// clips a box shape with radius 0 from the top by 50%
						// cropping the top half of the year part of the label,
						// which is preceded by a line break (css hack). This means that
						// hovering over the year will cover the click area of the month
						// (i.e. the area in which user can click on month is very limited)
						@supports (clip-path: inset(50% 0% 0% 0%)) {
							clip-path: inset(50% 0% 0% 0%);
						}

						// add line-break before  year label
						&::before {
							white-space: pre;
							content: '\a';
						}
					}

					// month label
					&:last-of-type {
						position: absolute;
						left: 0;
						font-size: $month-font-size;
					}
				}
			}
		}
	}

	// TIME PICKERS SPECIFIC STYLES [date(Range)TimePicker]

	.el-date-picker__time-header,
	.el-date-range-picker__time-header {
		display: flex;
		justify-content: space-between;

		> *:not(:last-child) {
			margin-right: 0.6rem;
		}

		.el-icon-arrow-right {
			// arrow-separator between two sides of the range
			display: none;
		}

		.el-date-range-picker__editors-wrap {
			display: flex;
			flex: 1;

			> *:not(:last-child) {
				margin-right: 0.5rem;
			}
		}

		.el-date-picker__editor-wrap,
		.el-date-range-picker__time-picker-wrap {
			position: relative;
			display: block;
			flex: 1;

			.el-input__inner {
				width: 100%;
			}

			@include el-time-spinner-popper;
		}
	}

	&.has-time {
		&.el-date-range-picker {
			.el-picker-panel__footer {
				button:not(.is-plain) {
					// `CLEAR` BUTTON
					@include footer-left-button(
						var(--hover-danger),
						var(--hover-danger),
						var(--hover-danger),
						var(--danger)
					);
				}
			}
		}

		&.el-date-picker {
			.el-picker-panel__footer button:not(.is-plain) {
				// `NOW` BUTTON
				@include footer-left-button(
					var(--link-03),
					var(--link-04),
					var(--link-03),
					var(--link-01)
				);
			}
		}
	}

	&__footer {
		display: flex;
		flex: 0.5;
		align-items: center;
		justify-content: space-between;
		@include no-outline-or-border;

		button {
			width: 75px;
			height: var(--default-button-height);
			font-size: var(--font-size-small);
			text-transform: uppercase;
			cursor: pointer;
			border-radius: var(--field-border-radius);

			+ button {
				// same as shortcuts
				margin-left: 0.8rem;
			}

			&:hover {
				font-weight: bold;
				transition: font-weight var(--transform-short);
			}

			&.is-plain {
				color: var(--text-04);
				background-color: var(--button-main-color);

				&:active {
					background-color: var(--interactive-03);
				}

				&:hover {
					background-color: var(--interactive-01-hover);
				}
			}

			&:not(.is-plain) {
				background-color: transparent;
			}
		}
	}
}
