.kt-field-date {
	.kt-field__input-container {
		width: 100%;
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 0.4rem;
		}

		.el-date-editor {
			width: 100%;

			&--date {
				display: flex;
				justify-content: space-evenly;

				.el-input__inner {
					flex: 1;
					-webkit-order: 2;
					order: 2;
					padding: 0;
					margin: 0;
					border: 0;

					&::-webkit-input-placeholder, /* Edge */
					&:-ms-input-placeholder, /* Internet Explorer */
					&::placeholder {
						color: var(--text-05);
					}
				}

				.el-input__prefix,
				.el-input__suffix {
					display: flex;
					align-items: center;
					font-size: 1.1em;
					color: var(--icon-02);
					cursor: pointer;

					i {
						display: flex;
						align-items: center;
						justify-content: center;
						line-height: unset;
					}
				}

				.el-input__prefix {
					-webkit-order: 1;
					order: 1;
				}

				.el-input__suffix {
					-webkit-order: 3;
					order: 3;
				}
			}
		}
	}
}

.el-picker-panel {
	&.el-popper {
		position: absolute;
		box-sizing: border-box;

		display: flex;
		padding: 0;
		margin: 5px 0;

		color: var(--text-01);
		background: var(--ui-background);
		border: 1px solid var(--ui-02);
		border-radius: var(--field-border-radius);
		box-shadow: var(--shadow-base);

		&[x-placement^='top'] {
			margin-bottom: 0.4rem;

			.popper__arrow {
				bottom: -6px;
				left: 50%;
				margin-right: 3px;
				border-top-color: var(--ui-02);
				border-bottom-width: 0;

				&::after {
					bottom: 1px;
					margin-left: -6px;
					border-top-color: var(--ui-background);
					border-bottom-width: 0;
				}
			}
		}

		&[x-placement^='right'] {
			margin-left: 0.4rem;

			.popper__arrow {
				top: 50%;
				left: -6px;
				margin-bottom: 3px;
				border-right-color: var(--ui-02);
				border-left-width: 0;

				&::after {
					bottom: -6px;
					left: 1px;
					border-right-color: var(--ui-background);
					border-left-width: 0;
				}
			}
		}

		&[x-placement^='bottom'] {
			margin-top: 0.4rem;

			.popper__arrow {
				top: -6px;
				left: 50%;
				margin-right: 3px;
				border-top-width: 0;
				border-bottom-color: var(--ui-02);

				&::after {
					top: 1px;
					margin-left: -6px;
					border-top-width: 0;
					border-bottom-color: var(--ui-background);
				}
			}
		}

		&[x-placement^='left'] {
			margin-right: 0.4rem;

			.popper__arrow {
				top: 50%;
				right: -6px;
				margin-bottom: 3px;
				border-right-width: 0;
				border-left-color: var(--ui-02);

				&::after {
					right: 1px;
					bottom: -6px;
					margin-left: -6px;
					border-right-width: 0;
					border-left-color: var(--ui-background);
				}
			}
		}

		.popper__arrow {
			filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
			border-width: 6px;

			&,
			&::after {
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				border-color: transparent;
				border-style: solid;
			}

			&::after {
				content: ' ';
				border-width: 6px;
			}
		}
	}

	&__body-wrapper {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		width: 100%;
		padding: 1rem 1.2rem;
		color: var(--text-01);

		* {
			outline: none;

			&:focus,
			&::-moz-focus-inner {
				outline: none;
			}
		}

		.el-picker-panel {
			&__sidebar {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				padding: 0 1rem;
				border-top: 1px solid var(--ui-02);

				> button {
					padding: 0.4rem 0;
					font-size: 0.8rem;
					color: var(--link-02);
					cursor: pointer;
					background-color: transparent;
					border: 0;
					-moz-text-decoration-line: underline;
					-moz-text-decoration-style: solid;
					text-decoration-line: underline;
					text-decoration-style: solid;

					& + button {
						margin-left: 0.8rem;
					}

					&:hover {
						color: var(--link-03);
					}

					&:active {
						color: var(--link-01);
					}
				}
			}

			&__body {
				$td-diameter: 1.5rem;
				$icon-size: 1.3rem;
				$double-chevron-translate: 1rem;
				$month-font-size: 1.2rem;
				$label-font-size: 1.1rem;

				.el-date-picker__header {
					display: flex;
					justify-content: flex-end;
					padding: 0.8rem 0;
					margin: 0 1rem;
					font-size: 1.2em;

					text-align: center;

					button.el-picker-panel__icon-btn {
						display: flex;
						align-items: flex-end;
						justify-content: center;
						padding: 0;
						color: var(--icon-02);
						cursor: pointer;
						background: transparent;
						border: 0;

						i {
							font-size: $icon-size;
						}

						&:hover {
							color: var(--interactive-01);
						}
					}

					// styles specific to el-date-picker header
					&:not(.el-date-picker__header--bordered) {
						position: relative;

						button.el-icon-d-arrow-left {
							@supports (clip-path: inset(50% 10% 0% 10%)) {
								clip-path: inset(50% 10% 0% 10%);
							}
						}

						button.el-icon-d-arrow-right {
							@supports (clip-path: inset(50% 10% 0% 10%)) {
								clip-path: inset(50% 10% 0% 10%);
							}
						}

						span.el-date-picker__header-label {
							&:hover {
								color: var(--interactive-01);
							}

							&:first-of-type {
								margin-top: 0.5 * $label-font-size;
								margin-right: auto;

								color: var(--text-02);

								// clips a box shape with radius 0 from the top by 50%
								// transforming the year that's preceded by a line break means that
								// hovering over the year will cover the click area of the month
								// (i.e. the area in which user can click on month is very limited)
								@supports (clip-path: inset(50% 0% 0% 0%)) {
									clip-path: inset(50% 0% 0% 0%);
								}

								// add a line-break before year in the header of the el-date-picker table
								&::before {
									white-space: pre;
									content: '\a';
								}

								&:hover {
									color: var(--interactive-01);
								}
							}

							&:last-of-type {
								position: absolute;
								left: 0;
							}
						}
					}

					span.el-date-picker__header-label {
						color: var(--text-01);
						cursor: pointer;

						&:first-of-type {
							-webkit-order: 2;
							order: 2;
							font-size: $label-font-size;
						}

						&:last-of-type {
							display: flex;
							flex: 1;
							-webkit-order: 1;
							order: 1;

							font-size: $month-font-size;
							text-transform: uppercase;
						}
					}

					.el-date-picker {
						&__prev-btn {
							&.el-icon-d-arrow-left {
								-webkit-order: 3;
								order: 3;

								> :last-child {
									margin-right: -$double-chevron-translate;
									transform: translateX(-1 * $double-chevron-translate);
								}
							}

							&.el-icon-arrow-left {
								-webkit-order: 4;
								order: 4;

								@supports (clip-path: inset(50% 10% 0% 10%)) {
									clip-path: inset(50% 10% 0% 10%);
								}
							}
						}

						&__next-btn {
							&.el-icon-arrow-right {
								-webkit-order: 5;
								order: 5;

								@supports (clip-path: inset(50% 10% 0% 10%)) {
									clip-path: inset(50% 10% 0% 10%);
								}
							}

							&.el-icon-d-arrow-right {
								-webkit-order: 6;
								order: 6;

								> :first-child {
									margin-left: -$double-chevron-translate;
									transform: translateX($double-chevron-translate);
								}
							}
						}
					}

					&--bordered {
						justify-content: space-between;
						margin: 0;
						margin-bottom: 0.4rem;
						border-bottom: 1px solid var(--ui-02);

						span.el-date-picker__header-label:not([style*='display: none;']) {
							-webkit-order: 4;
							order: 4;
							margin-right: unset;
							color: var(--text-01);
						}
					}
				}

				.el-picker-panel__content {
					margin: 0;

					table {
						padding: 0.8em;
						margin: 0;
						text-align: center;
						border: 0;

						tbody {
							display: flex;
							flex-direction: column;

							tr {
								display: flex;

								td,
								th {
									flex: 1;
								}
							}
						}

						th {
							padding: 0;
							color: var(--text-03);
							text-transform: uppercase;
							border: 0;
						}

						td {
							padding: 0;
							color: var(--text-03);
							cursor: pointer;
							border: 0;

							&.available {
								color: var(--text-01);

								&.today {
									color: var(--interactive-03);
								}
							}

							&.disabled {
								cursor: not-allowed;
								background-color: var(--ui-01);
							}
						}

						&.el-year-table,
						&.el-month-table {
							tr {
								padding: 0.8rem 0;
							}

							td {
								margin: 0 0.8em;
								border-radius: var(--field-border-radius);
								a {
									display: flex;
									align-items: center;
									justify-content: center;
									color: var(--text-02);
									text-transform: uppercase;

									&:hover {
										color: var(--interactive-01);
									}
								}

								&.current {
									background-color: var(--interactive-03);

									&:hover {
										background-color: var(--interactive-01);
									}

									a {
										color: var(--text-04);
									}
								}

								&.today {
									border: 1px solid var(--link-04);
								}
							}
						}

						&.el-date-table {
							tr:first-of-type {
								border-bottom: 1px solid var(--ui-02);
							}

							td,
							th {
								padding: 0.4rem 0;
							}

							th {
								font-weight: bold;
							}

							td {
								display: flex;
								align-items: center;
								justify-content: center;

								> div {
									display: flex;
									align-items: center;
									justify-content: center;
									width: $td-diameter;
									height: $td-diameter;
									border-radius: 50%;
								}

								&:not(.disabled) {
									@supports (
										clip-path: circle(calc(#{$td-diameter/2} + 2px) at center)
									) {
										clip-path: circle(calc(#{$td-diameter/2} + 2px) at center);
									}

									&:hover {
										background-color: var(--interactive-02-hover);
										transition: background-color var(--transition-short);
									}
								}

								&.available {
									&:hover {
										font-weight: bold;
										color: var(--link-03);
										transition: font-weight ease var(--transition-short);
									}

									&.today,
									&.current {
										> div {
											border: 1px solid var(--link-04);
										}
										&:hover {
											> div {
												border: 2px solid var(--link-03);
												transition: border ease var(--transition-short);
											}
										}
									}

									&.current {
										> div {
											background-color: var(--interactive-03);

											&:hover {
												background-color: var(--interactive-01);
											}

											> span {
												font-weight: bold;
												color: var(--interactive-02);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
