body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.success-message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  border-radius: .1rem;
  padding: .8rem 1.2rem;
  background: #64AD13;
}

.element-example {
  background: #f8f8f8;
  padding: 2rem 1.2rem;
  display: block;
  margin: 1rem 0;
  position: relative;
  &::before {
    content: "Example";
    display: block;
    background: #555;
    position: absolute;
    color: #fff;
    font-size: .875em;
    padding: .2rem .4rem;
    right: 0;
    z-index: 99;
    opacity: .46;
    top: 0;
  }
}