
.success-message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  border-radius: .1rem;
  padding: .8rem 1.2rem;
  background: #64AD13;
}

.element-example {
  background: #ffffff;
  padding: 1rem 0;
  display: block;
}