
.success-message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  border-radius: .1rem;
  padding: .8rem 1.2rem;
  background: #64AD13;
}

.element-example {
  background: #f8f8f8;
  padding: 1.2rem;
  display: block;
  margin: 1rem 0;
}