@font-face {
  font-family: 'yoco';
  src:  url('fonts/yoco.eot?oyq8p2');
  src:  url('fonts/yoco.eot?oyq8p2#iefix') format('embedded-opentype'),
    url('fonts/yoco.ttf?oyq8p2') format('truetype'),
    url('fonts/yoco.woff?oyq8p2') format('woff'),
    url('fonts/yoco.svg?oyq8p2#yoco') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.yoco {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yoco' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yoco-announce:before {
  content: "\e901";
}
.yoco-3dbox:before {
  content: "\e900";
}
.yoco-attachment:before {
  content: "\e902";
}
.yoco-bell:before {
  content: "\e903";
}
.yoco-calendar:before {
  content: "\e904";
}
.yoco-card:before {
  content: "\e905";
}
.yoco-charts:before {
  content: "\e906";
}
.yoco-chevron-down:before {
  content: "\e907";
}
.yoco-chevron-left:before {
  content: "\e908";
}
.yoco-chevron-right:before {
  content: "\e909";
}
.yoco-chevron-up:before {
  content: "\e90a";
}
.yoco-circle-attention:before {
  content: "\e90b";
}
.yoco-circle-check:before {
  content: "\e90c";
}
.yoco-circle-cross:before {
  content: "\e90d";
}
.yoco-circle-i:before {
  content: "\e90e";
}
.yoco-circle-load:before {
  content: "\e90f";
}
.yoco-circle-question:before {
  content: "\e910";
}
.yoco-clock:before {
  content: "\e911";
}
.yoco-close:before {
  content: "\e912";
}
.yoco-cloud-download:before {
  content: "\e913";
}
.yoco-cloud-upload:before {
  content: "\1f359";
}
.yoco-cloud:before {
  content: "\e915";
}
.yoco-comment:before {
  content: "\e916";
}
.yoco-copy:before {
  content: "\e917";
}
.yoco-dashboard:before {
  content: "\e918";
}
.yoco-dimension:before {
  content: "\e919";
}
.yoco-dots-vertical:before {
  content: "\e91a";
}
.yoco-dots:before {
  content: "\e91b";
}
.yoco-download:before {
  content: "\e91c";
}
.yoco-edit:before {
  content: "\e91d";
}
.yoco-exit-fullscreen:before {
  content: "\e91e";
}
.yoco-eye:before {
  content: "\e91f";
}
.yoco-file:before {
  content: "\e920";
}
.yoco-filter:before {
  content: "\e921";
}
.yoco-folder:before {
  content: "\e922";
}
.yoco-fullscreen:before {
  content: "\e923";
}
.yoco-global:before {
  content: "\e924";
}
.yoco-heart:before {
  content: "\e925";
}
.yoco-invoice:before {
  content: "\e926";
}
.yoco-layer:before {
  content: "\e927";
}
.yoco-list:before {
  content: "\e928";
}
.yoco-minus:before {
  content: "\e929";
}
.yoco-not-allow:before {
  content: "\e92a";
}
.yoco-permission:before {
  content: "\e92b";
}
.yoco-picture:before {
  content: "\e92c";
}
.yoco-plus:before {
  content: "\e92d";
}
.yoco-print:before {
  content: "\e92e";
}
.yoco-save:before {
  content: "\e92f";
}
.yoco-scale:before {
  content: "\e930";
}
.yoco-search:before {
  content: "\e931";
}
.yoco-setting:before {
  content: "\e932";
}
.yoco-share:before {
  content: "\e933";
}
.yoco-shop:before {
  content: "\e934";
}
.yoco-star:before {
  content: "\e935";
}
.yoco-support:before {
  content: "\e936";
}
.yoco-tag:before {
  content: "\e937";
}
.yoco-tech:before {
  content: "\e938";
}
.yoco-trash:before {
  content: "\e939";
}
.yoco-triangle-down:before {
  content: "\e93a";
}
.yoco-triangle-left:before {
  content: "\e93b";
}
.yoco-triangle-right:before {
  content: "\e93c";
}
.yoco-triangle-switch:before {
  content: "\e93d";
}
.yoco-triangle-up:before {
  content: "\e93e";
}
.yoco-upload:before {
  content: "\e93f";
}
.yoco-user:before {
  content: "\e940";
}
.yoco-usergroup:before {
  content: "\e941";
}
.yoco-view:before {
  content: "\e942";
}
.yoco-zip:before {
  content: "\e943";
}
