.float-left {
	float: left;
}

.float-right {
	float: right;
}

$margins: (
	0: 0,
	1: var(--unit-1),
	2: var(--unit-2),
	3: var(--unit-3),
	4: var(--unit-4),
	5: var(--unit-5),
	6: var(--unit-6),
	'8px': var(--unit-2),
	'16px': var(--unit-4),
	element: var(--unit-4),
	block: var(--unit-6),
);

@each $prop,
	$abbrev
		in (margin-top: mt, margin-bottom: mb, margin-right: mr, margin-left: ml)
{
	@each $size, $length in $margins {
		.#{$abbrev}-#{$size} {
			#{$prop}: $length;
		}
	}
}

$paddings: (
	0: 0,
	1: var(--unit-1),
	2: var(--unit-2),
	3: var(--unit-3),
	4: var(--unit-4),
	5: var(--unit-5),
	6: var(--unit-6),
	'8px': var(--unit-2),
	'16px': var(--unit-4),
	element: var(--unit-4),
);

@each $prop,
	$abbrev
		in (
			padding-top: pt,
			padding-bottom: pb,
			padding-right: pr,
			padding-left: pl
		)
{
	@each $size, $length in $margins {
		.#{$abbrev}-#{$size} {
			#{$prop}: $length;
		}
	}
}
