// Text Utilities

.text-truncate,
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	.show-all {
		overflow: auto;
	}
}

$text-colors: (
	text-primary: var(--interactive-01),
	text-gray: var(--text-02),
	text-success: var(--support-success-dark),
	text-error: var(--support-error-dark),
	text-warning: var(--support-warning-dark),
);
$text-aligns: (
	text-right: right,
	text-left: left,
	text-center: center,
	text-justify: justify,
);

@each $element, $color in $text-colors {
	.#{$element} {
		color: $color;
	}
}

@each $element, $align in $text-aligns {
	.#{$element} {
		text-align: $align;
	}
}
