@font-face {
	/* stylelint-disable-next-line font-family-name-quotes */
	font-family: 'yoco';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/yoco.eot');
	src:
		url('fonts/yoco.eot#iefix') format('embedded-opentype'),
		url('fonts/yoco.ttf') format('truetype'),
		url('fonts/yoco.woff') format('woff'),
		url('fonts/yoco.woff2') format('woff2');
	font-display: block;
}

.yoco {
	/* use !important to prevent issues with browser extensions that change fonts */
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword, font-family-name-quotes */
	font-family: 'yoco' !important;
	font-size: 0.9em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-feature-settings: 'liga'; /* Enable Ligatures */
	font-variant: normal;
	font-variant-ligatures: discretionary-ligatures; /* Enable Ligatures */
	hyphens: none !important; /* prevent icons from getting hyphenated and break across multiple lines in small containers */
	line-height: 1;
	text-transform: none;
	letter-spacing: 0;

	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
