@use 'sass:map';

@mixin input-colors(
	$main-color: var(--text-01),
	$disabled-color: var(--text-05),
	$placeholder-color: var(--text-03)
) {
	/* stylelint-disable selector-class-pattern */
	.kt-field__input-container-slot input,
	.kt-field__input-container-slot textarea,
	/* stylelint-enable selector-class-pattern */
	input,
	> * input,
	textarea,
	> * textarea {
		color: $main-color;

		// overwrites native behavior when disabled
		background-color: transparent;

		&:disabled {
			color: $disabled-color;
		}

		&::placeholder {
			color: $placeholder-color;
		}
	}
}

@mixin prettify-scrollbar {
	&::-webkit-scrollbar {
		opacity: 0;
	}

	scrollbar-color: var(--ui-background) var(--ui-background);
	scrollbar-width: thin;

	&:active,
	&:hover {
		scrollbar-color: var(--ui-03) var(--ui-background);
		transition: scrollbar-color var(--transition-medium) ease-out;

		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
			opacity: 1;
			transition: opacity var(--transition-medium) ease-out;
		}

		&::-webkit-scrollbar-thumb {
			cursor: all-scroll;
			background-color: var(--ui-03);
			border-radius: var(--field-border-radius);
		}
	}
}

@mixin sizes {
	$font-sizes: (
		'small': var(--font-size-small),
		'medium': var(--font-size-medium),
		'large': var(--font-size-large),
	);
	$heights: (
		'small': 1.6rem,
		'medium': 2rem,
		'large': 2.4rem,
	);

	@each $type in 'small', 'medium', 'large' {
		&--is-#{$type} {
			font-size: map.get($font-sizes, $type);

			> .kt-field__input-container-wrapper > .kt-field__input-container {
				min-height: map.get($heights, $type);
			}

			> .kt-field__input-container-wrapper-loading {
				height: map.get($heights, $type);
				margin-bottom: 0;
			}
		}
	}
}

@mixin validations {
	$types: 'error', 'warning', 'success', 'empty';

	@each $type in $types {
		&.kt-field__wrapper--is-validation-#{$type},
		&.kt-value-label--is-validation-#{$type} {
			@content ($type);
		}
	}
}
