@import '../../../packages/kotti-style/_variables.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
}

h3 ~ p {
	margin-top: 1em;
}

h3 ~ table {
	margin-top: 0;
}

pre.long {
	max-height: 500px;
	overflow-y: auto;
	user-select: all;
}

.success-message {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	padding: 0.8rem 1.2rem;
	color: #fff;
	background: #2c66c4;
	border-radius: 0.1rem;
}

.element-example {
	position: relative;
	display: block;
	padding: 2rem 1.2rem;
	margin: 1rem 0;
	background: #f8f8f8;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 99;
		display: block;
		padding: 0.2rem 0.4rem;
		font-size: 0.875em;
		color: #fff;
		content: 'Example';
		background: #555;
		opacity: 0.46;
	}

	&.white {
		background: #fff;
		border: 1px solid #dbdbdb;
	}
}

.danger-block {
	padding: 1.2rem;
	margin-bottom: 0.6rem;
	color: $red-600;
	background: #f8f8f8;
	a {
		color: inherit;
		text-decoration: underline;
	}
}

code {
	color: #091142;
	tab-size: 2;
	background: #e6e6e6;
}
pre code {
	font-weight: 500;
	background: transparent;
}

.hljs {
	display: block;
	padding: 0.5em;
	overflow-x: auto;
	color: #bababa;
	background: #2b2b2b;
}

.hljs-strong,
.hljs-emphasis {
	color: #2c64cc;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
	color: #6896ba;
}

.hljs-code,
.hljs-selector-class {
	color: #a6e22e;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
	color: #2c64cc;
}

.hljs-params {
	color: #b9b9b9;
}

.hljs-string {
	color: #2c64cc;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
	color: #e0c46c;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
	color: #7f7f7f;
}
