// Forms
@mixin control-shadow($color: $primary-500) {
	box-shadow: 0 0 0 0.1rem rgba($color, 0.2);
}

fieldset {
	margin-bottom: $layout-spacing-lg;
}

legend {
	font-size: $font-size-lg;
	font-weight: 500;
	margin-bottom: $layout-spacing-lg;
}

.form-group :not(:last-child) {
	margin-bottom: $layout-spacing;
}

// Text area

.form-textarea,
textarea {
	padding: $unit-2;
	box-sizing: border-box;
}
