@import '../../kotti-style/_variables.scss';

/**
 * @deprecated this was moved-over from the old KtCheckbox.vue so
 * that it can be removed without having to touch the table
 */
table.kt-table-legacy :deep(.form-checkbox) {
	position: relative;
	display: inline-block;
	min-height: 1.2rem;
	padding: 0.4rem 0.2rem 0.4rem 1.2rem;
	line-height: 1rem;

	.form-icon {
		position: absolute;
		top: 0.2rem;
		left: 0;
		display: inline-block;
		width: var(--unit-4);
		height: var(--unit-4);
		cursor: pointer;
		background: var(--ui-background);
		border: 1px solid var(--ui-02);
		border-radius: var(--border-radius);

		&--is-checked {
			background: var(--interactive-01);
			border-color: var(--interactive-01);

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 6px;
				height: 10px;
				margin-top: -6px;
				margin-left: -3px;
				content: '';
				background-clip: padding-box;
				border: var(--unit-h) solid var(--ui-white);
				border-top-width: 0;
				border-left-width: 0;
				transform: rotate(45deg);
			}
		}
	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);

		&:focus + .form-icon {
			border-color: var(--interactive-01);
		}

		&:indeterminate + .form-icon {
			background: var(--interactive-01);
			border-color: var(--interactive-01);

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				height: 2px;
				margin-top: -1px;
				margin-left: -5px;
				content: '';
				background: var(--ui-02);
			}
		}

		&:invalid + .form-icon {
			border: 1px solid var(--support-error);
		}

		&:active + .form-icon {
			background: var(--ui-04);
		}
	}

	// Input checkbox sizes
	&.input-sm {
		margin: 0;
		font-size: var(--font-size-small);
	}

	&.input-lg {
		margin: 6px 0;
		font-size: var(--font-size-large);
	}
}
