.banner {
	display: flex;
	flex-direction: column;
	padding: $unit-2 $unit-4;
	background: #fff;
	border: 1px solid $lightgray-400;
	border-radius: $border-radius;

	&.banner-grey {
		background: $lightgray-300;
		border: 0;
	}

	.collapse {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.glyph {
		flex: 0 0 auto;
		align-self: center;
		width: 1.6rem;
		line-height: 1;
		text-align: center;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.message {
		flex: 1 1 100%;
		align-self: center;
		padding: 0 $unit-4;
		font-weight: 600;
		color: $darkgray-400;
	}

	.action {
		flex: 0 0 auto;
		align-self: center;
	}

	.expand {
		margin-top: $unit-4;
	}
}
