:root {
	--link-color: var(--link-01);
	--link-color-active: var(--link-03);
}

// Base
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: var(--font-size-root);
	line-height: 1.5;
	-webkit-tap-highlight-color: transparent;
}

body {
	overflow-x: hidden;
	font-family: $body-font-family;
	font-size: var(--font-size-medium);
	font-weight: 400;
	color: var(--text-01);
	background: var(--ui-background);
	text-rendering: optimizeLegibility;
}

a {
	color: var(--link-color);
	text-decoration: none;
	outline: none;

	&:focus,
	&:hover,
	&:active,
	&.active {
		color: var(--link-color-active);
		text-decoration: none;
	}
}

/* undo opacity override by firefox
https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder#opaque_text */
input::placeholder {
	opacity: 1;
}
