// Cards
.card {
	display: flex;
	flex-direction: column;
	background: #fff;
	border: $border-width solid $border-color;
	border-radius: var(--border-radius);

	.card-header {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.card-footer {
		text-align: right;
	}

	.card-header,
	.card-body,
	.card-footer {
		padding: $layout-spacing-lg;
		padding-bottom: 0;

		&:last-child {
			padding-bottom: $layout-spacing-lg;
		}
	}

	.card-image {
		padding-top: $layout-spacing-lg;

		&:first-child {
			padding-top: 0;

			img {
				border-top-left-radius: var(--border-radius);
				border-top-right-radius: var(--border-radius);
			}
		}

		&:last-child img {
			border-bottom-right-radius: var(--border-radius);
			border-bottom-left-radius: var(--border-radius);
		}
	}
}
