// Codes
@mixin code-base() {
	line-height: 1.5;
	background: $lightgray-300;
	border-radius: $border-radius;
}

pre {
	@include code-base();
	display: block;
	width: 100%;
	padding: 1rem;
	overflow-x: auto;

	color: inherit;
}

code {
	@include code-base();
	position: relative;
	padding: $unit-h;
	font-size: 85%;
	color: $body-font-color;

	background: $lightgray-300;
	border-radius: $border-radius;

	&::before {
		position: absolute;
		top: $unit-h;
		right: $layout-spacing;
		font-size: $font-size-sm;
		color: $lightgray-300;
		content: attr(data-lang);
	}
}
