// Codes

/* pre {
	line-height: 1.5;
	background-color: var(--ui-01);
	border: 1px solid var(--ui-02);
	border-radius: var(--border-radius);

	display: flex;
	padding: var(--unit-2) var(--unit-4);
	overflow: hidden;
	overflow-x: auto;
	color: inherit;

	> code {
		padding: unset;
		overflow: unset;

		&[data-lang] {
			display: flex;
			flex: 1;
			flex-direction: row;
			justify-content: space-between;
		}

		&[data-lang]::after {
			align-self: flex-start;
			margin: calc(-1 * var(--unit-2)) calc(-1 * var(--unit-8)) 0 0;
		}
	}
}


:not(pre) > code {
	line-height: 1.5;
	background-color: var(--ui-01);
	border: 1px solid var(--ui-02);
	border-radius: var(--border-radius);

	position: relative;
	padding: var(--unit-h);
	overflow: hidden;
	font-size: 85%;
	color: var(--text-01);

background-color: var(--ui-02);
	border-radius: var(--border-radius);

 &[data-lang]::after {
		display: flex;
		align-items: center;
		align-self: stretch;
		padding-inline: var(--unit-1);
		margin: calc(-1 * var(--unit-h)) calc(-1 * var(--unit-h))
			calc(-1 * var(--unit-h)) 0;
		font-size: 0.8em;
		color: var(--text-04);
		content: attr(data-lang);
		background-color: var(--ui-04);
	}
} */
