.comment {
	display: flex;
	flex-flow: row;

	+ .comment {
		padding-top: var(--unit-1);
		border-top: 1px solid var(--ui-02);
	}

	&__avatar {
		flex: 0 0 2.4rem;
		height: 2.4rem;
	}

	&__wrapper {
		display: flex;
		flex: 1;
		flex-direction: column;
		margin-left: 0.4rem;
	}



	&__info {
		display: flex;
		flex-direction: row;
		width: 100%;
		font-size: 0.7rem;
		line-height: 1.2rem;
	}

	&__message {
		font-size: 0.75rem;
		line-height: 1.2rem;
		word-break: break-word;
	}
}



.info{
	&__name {
	flex: 1 1;
	font-weight: 600;
	}

	&__time {
		flex: 1 1;
		color: $lightgray-500;
		text-align: right;
	}
}



.comment__action,
.comment-reply__action {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.2rem 0;
	font-size: 0.7rem;
	font-weight: 600;
	line-height: 1.2rem;
	color: var(--text-02);

	.yoco {
		font-size: 0.9rem;
	}
}

.comment-inline-edit {
	position: relative;
	width: 100%;
	&-buttons {
		position: absolute;
		right: 0;
		z-index: $zindex-4;
	}
}

.action {
	&__reply {
		flex: 0 0 auto;
		padding: 0 0.2rem;
		border-radius: 0.2rem;
		&:hover {
			color: $darkgray-400;
			cursor: pointer;
			background: $lightgray-400;
		}
	}
}

// CommentReply
.comment-reply {
	display: flex;
	flex-direction: row;
	padding: 0.2rem 0;
	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: 0.4rem;
	}
	&__avatar {
		flex: 0 0 1.6rem;
	}
	&__info {
		display: flex;
		flex-direction: row;
		margin-bottom: 0.1rem;
		font-size: 0.7rem;
		line-height: 0.7rem;
	}
	&__name {
		flex: 1 1;
		font-weight: 600;
	}
	&__time {
		flex: 1 1 auto;
		color: $lightgray-500;
		text-align: right;
	}
	&__body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__message {
		width: 100%;
		font-size: 0.65rem;
		line-height: 1rem;
		word-break: break-word;
		.yoco {
			display: none;
			font-size: 0.8rem;
			color: #a8a8a8;
		}
		&:hover {
			cursor: pointer;
			.yoco {
				display: inline;
				color: $darkgray-400;
			}
		}
	}
}

// KtCommentInput
.comment-input {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	&--inline {
		margin: 0;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		padding: 0.4rem;
		background: #fff;
		border: 1px solid #dbdbdb;
		border-radius: var(--border-radius);
		&--focus {
			border: 1px solid #bbb;
		}
		&--inline {
			padding: 0.2rem;
		}
	}
	&__avatar {
		flex: 0 0 1.6rem;
		align-self: flex-start;
	}
	&__textarea {
		flex: 1 1;
		width: 100%;
		height: 1.2rem;
		padding: 0;
		margin: 0 0.2rem;
		resize: none;
		border: 0;
		&:focus {
			outline: none;
		}
	}
	&__button {
		height: 1.6rem;
	}
}
