.info{
	&__name {
	flex: 1 1;
	font-weight: 600;
	}

	&__time {
		flex: 1 1;
		color: $lightgray-500;
		text-align: right;
	}
}


.comment-inline-edit {
	position: relative;
	width: 100%;
	&-buttons {
		position: absolute;
		right: 0;
		z-index: $zindex-4;
	}
}
