@mixin col-width($media-size) {
	@for $i from 1 through 24 {
		.kt-col#{$media-size}-#{$i} {
			flex: none;
			width: (calc(1 / 24) * $i * 100) * 1%;
		}
	}
}

@for $i from 1 through 24 {
	.kt-col-offset-#{$i} {
		margin-left: (calc(1 / 24) * $i * 100) * 1%;
	}
	.kt-col-pull-#{$i} {
		position: relative;
		right: (calc(1 / 24) * $i * 100) * 1%;
	}
	.kt-col-push-#{$i} {
		position: relative;
		left: (calc(1 / 24) * $i * 100) * 1%;
	}
}

.kt-col {
	box-sizing: border-box;
	float: left;
}

@include col-width('');

@media (width <= $size-xl) {
	@include col-width('-xl');
}

@media (width <= $size-lg) {
	@include col-width('-lg');
}

@media (width <= $size-md) {
	@include col-width('-md');
}

@media (width <= $size-sm) {
	@include col-width('-sm');
}

@media (width <= $size-xs) {
	@include col-width('-xs');
}

.kt-row {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	clear: both;

	&::before,
	&::after {
		clear: both;
	}

	&--justify-center {
		justify-content: center;
	}

	&--justify-end {
		justify-content: flex-end;
	}

	&--align-center {
		align-items: center;
	}

	&--align-bottom {
		align-items: baseline;
	}
}
