// Layout
@use 'sass:math';

.kt-container {
	display: flex;
	overflow-x: hidden;

	@media (width < $size-md) {
		display: flex;
		flex-direction: column;
	}
}

// deprecate
@media (width < $size-md) {
	.responsive {
		display: flex;
		flex-direction: column;
	}
}

.container {
	clear: both;
	width: 100%;
	padding-right: var(--unit-2);
	padding-left: var(--unit-2);
	margin-right: auto;
	margin-left: auto;
}

// Responsive breakpoint system
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
	display: none !important;
}

// Responsive grid system
.column {
	flex: 1;
	max-width: 100%;
	padding: var(--unit-2);

	&.col-12,
	&.col-11,
	&.col-10,
	&.col-9,
	&.col-8,
	&.col-7,
	&.col-6,
	&.col-5,
	&.col-4,
	&.col-3,
	&.col-2,
	&.col-1 {
		flex: none;
	}
}

.col-12 {
	width: 100%;
}

.col-11 {
	width: 91.6667%;
}

.col-10 {
	width: 83.3333%;
}

.col-9 {
	width: 75%;
}

.col-8 {
	width: 66.6667%;
}

.col-7 {
	width: 58.3333%;
}

.col-6 {
	width: 50%;
}

.col-5 {
	width: 41.6667%;
}

.col-4 {
	width: 33.3333%;
}

.col-3 {
	width: 25%;
}

.col-2 {
	width: 16.6667%;
}

.col-1 {
	width: 8.3333%;
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.col-mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.col-ml-auto {
	margin-left: auto;
}

.col-mr-auto {
	margin-right: auto;
}

.columns {
	display: flex;
	flex-wrap: wrap;
	margin-right: calc(0px - var(--unit-2));
	margin-left: calc(0px - var(--unit-2));

	&.col-gapless {
		margin-right: 0;
		margin-left: 0;

		& > .column {
			padding-right: 0;
			padding-left: 0;
		}
	}

	&.col-gutter-sm {
		margin-right: calc(0px - var(--unit-2) * 0.5);
		margin-left: calc(0px - var(--unit-2) * 0.5);

		& > .column {
			padding-right: calc(var(--unit-2) * 0.5);
			padding-left: calc(var(--unit-2) * 0.5);
		}
	}

	&.col-oneline {
		flex-wrap: nowrap;
		overflow-x: auto;
	}

	&.row-gapless .column {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.row-gutter-sm > .column {
		padding-top: calc(var(--unit-2) * 0.5);
		padding-bottom: calc(var(--unit-2) * 0.5);
	}
}

@media (width < $size-xl) {
	.col-xl-12,
	.col-xl-11,
	.col-xl-10,
	.col-xl-9,
	.col-xl-8,
	.col-xl-7,
	.col-xl-6,
	.col-xl-5,
	.col-xl-4,
	.col-xl-3,
	.col-xl-2,
	.col-xl-1 {
		flex: none;
	}

	.col-xl-12 {
		width: 100%;
	}

	.col-xl-11 {
		width: 91.6667%;
	}

	.col-xl-10 {
		width: 83.3333%;
	}

	.col-xl-9 {
		width: 75%;
	}

	.col-xl-8 {
		width: 66.6667%;
	}

	.col-xl-7 {
		width: 58.3333%;
	}

	.col-xl-6 {
		width: 50%;
	}

	.col-xl-5 {
		width: 41.6667%;
	}

	.col-xl-4 {
		width: 33.3333%;
	}

	.col-xl-3 {
		width: 25%;
	}

	.col-xl-2 {
		width: 16.6667%;
	}

	.col-xl-1 {
		width: 8.3333%;
	}

	.hide-xl {
		display: none !important;
	}

	.show-xl {
		display: block !important;
	}
}

@media (width < $size-lg) {
	.col-lg-12,
	.col-lg-11,
	.col-lg-10,
	.col-lg-9,
	.col-lg-8,
	.col-lg-7,
	.col-lg-6,
	.col-lg-5,
	.col-lg-4,
	.col-lg-3,
	.col-lg-2,
	.col-lg-1 {
		flex: none;
	}

	.col-lg-12 {
		width: 100%;
	}

	.col-lg-11 {
		width: 91.6667%;
	}

	.col-lg-10 {
		width: 83.3333%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-8 {
		width: 66.6667%;
	}

	.col-lg-7 {
		width: 58.3333%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-5 {
		width: 41.6667%;
	}

	.col-lg-4 {
		width: 33.3333%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-2 {
		width: 16.6667%;
	}

	.col-lg-1 {
		width: 8.3333%;
	}

	.hide-lg {
		display: none !important;
	}

	.show-lg {
		display: block !important;
	}
}

@media (width < $size-md) {
	.col-md-12,
	.col-md-11,
	.col-md-10,
	.col-md-9,
	.col-md-8,
	.col-md-7,
	.col-md-6,
	.col-md-5,
	.col-md-4,
	.col-md-3,
	.col-md-2,
	.col-md-1 {
		flex: none;
	}

	.col-md-12 {
		width: 100%;
	}

	.col-md-11 {
		width: 91.6667%;
	}

	.col-md-10 {
		width: 83.3333%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-8 {
		width: 66.6667%;
	}

	.col-md-7 {
		width: 58.3333%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-5 {
		width: 41.6667%;
	}

	.col-md-4 {
		width: 33.3333%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-2 {
		width: 16.6667%;
	}

	.col-md-1 {
		width: 8.3333%;
	}

	.hide-md {
		display: none !important;
	}

	.show-md {
		display: block !important;
	}
}

@media (width < $size-sm) {
	.col-sm-12,
	.col-sm-11,
	.col-sm-10,
	.col-sm-9,
	.col-sm-8,
	.col-sm-7,
	.col-sm-6,
	.col-sm-5,
	.col-sm-4,
	.col-sm-3,
	.col-sm-2,
	.col-sm-1 {
		flex: none;
	}

	.col-sm-12 {
		width: 100%;
	}

	.col-sm-11 {
		width: 91.6667%;
	}

	.col-sm-10 {
		width: 83.3333%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-8 {
		width: 66.6667%;
	}

	.col-sm-7 {
		width: 58.3333%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-5 {
		width: 41.6667%;
	}

	.col-sm-4 {
		width: 33.3333%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-2 {
		width: 16.6667%;
	}

	.col-sm-1 {
		width: 8.3333%;
	}

	.hide-sm {
		display: none !important;
	}

	.show-sm {
		display: block !important;
	}
}

@media (width < $size-xs) {
	.col-xs-12,
	.col-xs-11,
	.col-xs-10,
	.col-xs-9,
	.col-xs-8,
	.col-xs-7,
	.col-xs-6,
	.col-xs-5,
	.col-xs-4,
	.col-xs-3,
	.col-xs-2,
	.col-xs-1 {
		flex: none;
	}

	.col-xs-12 {
		width: 100%;
	}

	.col-xs-11 {
		width: 91.6667%;
	}

	.col-xs-10 {
		width: 83.3333%;
	}

	.col-xs-9 {
		width: 75%;
	}

	.col-xs-8 {
		width: 66.6667%;
	}

	.col-xs-7 {
		width: 58.3333%;
	}

	.col-xs-6 {
		width: 50%;
	}

	.col-xs-5 {
		width: 41.6667%;
	}

	.col-xs-4 {
		width: 33.3333%;
	}

	.col-xs-3 {
		width: 25%;
	}

	.col-xs-2 {
		width: 16.6667%;
	}

	.col-xs-1 {
		width: 8.3333%;
	}

	.hide-xs {
		display: none !important;
	}

	.show-xs {
		display: block !important;
	}
}

.sub-columns {
	box-sizing: border-box;
	margin: 0;
}
