// Media

// object-fit support is coming to Microsoft Edge
// https://developer.microsoft.com/en-us/microsoft-edge/platform/status/objectfitandobjectposition/
.img-fit-cover {
	object-fit: cover;
}

.img-fit-contain {
	object-fit: contain;
}

// Video responsive
.video-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;

	&::before {
		display: block;
		padding-bottom: 56.25%; // Default ratio 16:9, you can calculate this value by dividing 9 by 16
		content: '';
	}

	iframe,
	object,
	embed {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

video.video-responsive {
	max-width: 100%;
	height: auto;

	&::before {
		content: none;
	}
}

.video-responsive-4-3 {
	&::before {
		padding-bottom: 75%; // Ratio 4:3
	}
}

.video-responsive-1-1 {
	&::before {
		padding-bottom: 100%; // Ratio 1:1
	}
}

// Figure
.figure {
	margin: 0 0 $layout-spacing;

	.figure-caption {
		margin-top: $layout-spacing;
		color: var(--text-01);
	}
}
