// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: 600;
	line-height: 1.5;
	color: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 500;
}

h1,
.h1 {
	font-size: 1.6rem;
}

h2,
.h2 {
	font-size: 1.2rem;
}

h3,
.h3 {
	padding-bottom: var(--unit-2);
	font-size: 0.8rem;
	border-bottom: 1px solid var(--ui-02);
}

h4,
.h4 {
	font-size: 0.8rem;
}

h5,
.h5 {
	font-size: 0.75rem;
}

h6,
.h6 {
	font-size: 0.7rem;
}

// Paragraphs
p {
	margin: 0 0 0.8rem;
}

// Semantic text elements
abbr[title] {
	text-decoration: none;
	cursor: help;
	border-bottom: $border-width dotted;
}

// Lists
ul,
ol {
	padding: 0;
	margin: var(--unit-4) 0 var(--unit-4) var(--unit-4);
	ul,
	ol {
		margin: var(--unit-4) 0 var(--unit-4) var(--unit-4);
	}

	li {
		margin-top: var(--unit-2);
	}
}

dl {
	dt {
		font-weight: bold;
	}

	dd {
		margin: var(--unit-2) 0 var(--unit-4) 0;
	}
}

.label-value {
	position: relative;
	line-height: 1.5;
	color: var(--text-01);

	label {
		font-size: 0.6rem;
		font-weight: 700;
		color: var(--text-02);
	}

	.default {
		font-size: $font-size;
	}

	.key {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.addition {
		font-size: 0.8rem;
		font-weight: 600;
	}

	.action {
		position: absolute;
		top: 50%;
		right: 0.2rem;
		margin-top: -0.5rem;
		color: var(--interactive-01);

		&:hover {
			color: var(--interactive-01-hover);
			cursor: pointer;
		}
	}

	.editable {
		padding: 0.1rem 0;
		&--empty {
			font-style: italic;
		}
		&:hover {
			cursor: pointer;
			background: var(--text-03);
		}
	}
}
