// DEPRECATED: Please use CSS Custom Properties instead

// Fonts
// Credit: https://css-tricks.com/snippets/css/system-font-stack/

$base-font-family:
	-apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica',
	'Arial', 'sans-serif' !default;
$mono-font-family:
	'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Menlo', 'Courier', 'monospace' !default;
$fallback-font-family: 'Helvetica Neue', 'sans-serif' !default;
$cjk-zh-font-family:
	$base-font-family, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
	$fallback-font-family !default;
$cjk-jp-font-family:
	$base-font-family, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', 'Yu Gothic',
	'YuGothic, Meiryo', $fallback-font-family !default;
$cjk-ko-font-family:
	$base-font-family, 'Malgun Gothic', $fallback-font-family !default;
$body-font-family: $base-font-family, $fallback-font-family !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;
$size-3x: 1920px !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-4: 400 !default;
