.workspace {
	position: relative;
	z-index: inherit;
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	min-height: 100vh;
	padding: var(--unit-6);
	background: #fff;
	box-shadow: 1px 0 2px #ddd;

	h3:not(:first-of-type) {
		margin-top: var(--unit-8);
	}
}

@media (width < $size-lg) {
	.workspace {
		width: 100%;
		margin-right: 0;
	}
}

@media (width < $size-md) {
	.workspace {
		width: 100%;
		margin-right: 0;
	}
}
