@import 'normalize.css/';
@import 'variables';
@import 'fonts';
@import 'shadows';
@import 'spacing';
@import 'tokens';
@import 'transitions';

// Reset and dependencies
@import 'base';

// Utility classes
@import 'utilities';
@import 'media';

// Layout
@import 'layout';
@import 'workspace';
@import 'grid';

// Elements
@import 'codes';
@import 'forms';
@import 'loadings';
@import 'typography';

// tippy.js
@import 'tippy.js/dist/tippy';
@import 'tippy.js/dist/svg-arrow';

/* forked from tippy’s light-border theme */
.tippy-box[data-theme~='kt-light-border'] {
	color: var(--text-01);
	background-color: var(--white);
	background-clip: padding-box;
	border: 1px solid var(--ui-02);
	box-shadow: 0 2px 4px 0 rgba(0 0 0 / 16%);

	.tippy-content {
		padding: var(--unit-2);
	}
}
